{% load static %}
{% if messages %}
    {% for message in messages %}
        <p class="alert">{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="settings">
    <div style="width: 100%; border-bottom: 1px solid grey;">
        <p style="padding: 5px 10px; font-size: xx-large;">Configuraciones</p>
    </div>
    <div class="home_menu">
        <div class="option_home_menu selected" number-option-target="0" data-target="account_options">
            <p>Account</p>
        </div>
        <div class="option_home_menu" number-option-target="1" data-target="preferences_options">
            <p>Preferences</p>
        </div>
    </div>
    <div class="column_menu">
        {% include 'partials/account_options.html' %}
    </div>
</div>
{% block styles %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}