/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body > div {
    width: 50%;
}

.container {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    text-align: center;
    color: black;
}

.container form > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container form > div > label{
    width: 40%;

}

.container_1 {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

input {
    width: 90%;
    height: auto;
    padding: 7px;
    margin: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 5px;
    margin-top: 20px;
    border: none;
    background: #3cb1df;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a7396;
}

a {
    display: block;
    margin-top: 10px;
    color: #3cb1df;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2{
    margin-right: 8%;
}

.title {
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: unbold;
}

.logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}


.decorative-line {
    border: none;
    width: 95%;
    height: 2px;
    background-color: rgb(161, 161, 161);
    margin: 20px 0;
    position:absolute;
    top: 94%;
    left: 2.5%;   
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    background: #3cb1df;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.password-container{
    display: flex;
    width: 90%;
    height: 16px;
    padding: 7px;
    margin: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-toggle{
    outline-style: none;
    border: none;
    margin: 0px;
    padding: 7px;
    flex: 1;
}

.button-toggle{
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    background-color: transparent;
    border: none;
}

.button-toggle:hover{
    background: rgb(192, 192, 192);
}

svg{
    width: 1em;
    height: auto;
}

.hide-icon{
    display: none;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title{
        width: 80%;
    }

    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 5%;
        box-sizing: border-box;
    }

    input {
        width: calc(100% - 10px); /* Se asegura de que no sobrepase el contenedor */
        margin: 5px 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .password-container {
        width: 89%;
        display: flex;
        align-items: center;
    }

    .input-toggle {
        flex: 1;
    }

    h2{
        margin-right: 0%;
    }

    .button-toggle {
        flex-shrink: 0;
    }

    .logo {
        max-width: 60%;
        height: auto;
        margin-bottom: 15px;
    }
}
